<header class="border-b shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-white">
    <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
        <img class="h-8 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="">
        <nav class="flex gap-3 my-2 uppercase text-2xl">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </nav>
        <div class="flex gap-3 align-middle">
            @if (accountService.currentUser()) {
                <button mat-button [matMenuTriggerFor]="menu">
                    <span>{{accountService.currentUser()?.displayName}}</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
            } 
            @else {
                <button routerLink="/account/login" mat-stroked-button class="lg:pr-4">Login</button>
                <button routerLink="/account/register" mat-stroked-button>Register</button>
            }
        </div>
    </div>
</header>

@if (busyService.loading) {
    <mat-progress-bar mode="indeterminate" class="fixed top-20 z-50"></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="px-4">
    <button mat-menu-item class="px-3" routerLink="/exercise">
        <mat-icon>fitness_center</mat-icon>
        Exercises
    </button>
    <button mat-menu-item class="px-3" routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        My account
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="px-3" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-menu>